<b> <font color="purple"> User email: <%= current_user.email %> <br>
User since: <%= current_user.created_at %> <br>
Last sign in: <%= current_user.last_sign_in_at %> <br></font></b>
<h2>Wikis</h2>


<ol>
  <% current_user.wikis.each do |wiki| %>
    <li>
      <%= wiki.title %>
      <br/>
      <%= markdown(wiki.body) %>
      <br>
      <small> (<%= distance_of_time_in_words(wiki.created_at, Time.now) %> ago) <br>
      <%= link_to "Edit or delete wiki", edit_wiki_path(wiki), class: 'btn btn-success' %></small>
    </li>
  <% end %>
</ol>

<%= link_to "Downgrade", charge_path(id: "standard"), method: :delete %>


<%= render partial: "/wikis/form", locals: {wiki: current_user.wikis.new } %>
