<%= form_for [wiki] do |f| %>




<b> Create a new wiki here: </b>
   <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wiki name" %>
   </div>
   <div class="form-group">
      <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki body" %>
   </div>

   <div class="form-group">
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>

    <!-- HELLO    <%= current_user.role %>WORLD123 -->
   <% if current_user.admin? || current_user.premium? %>
     <div class="form-group">
       <%= f.label :private, class: 'checkbox' do %>
         <%= f.check_box :private %> Private wiki
       <% end %>
     </div>
  <% end %>
 <% end %>
