
<!DOCTYPE html>
<html>
<head>
  <title>Blocipedia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to("*** Blocipedia Main Page ***",root_path) unless request.path == "/" %> <br> <br> <small><%= link_to "Sign Up", new_user_registration_path %> <br>
  <%= link_to "Sign In", new_user_session_path %> <br>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> <br>
  <% if current_user %>
    <%= link_to "Profile", current_user %> </small>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class='container'>
      <%= yield %>
  </div>

</body>
</html>
